/***** RESET ********************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* word-break: break-word */
}


/************** Images *****************/

#dicePositionL1, #dicePositionL2, #dicePositionL3, #dicePositionR1, #dicePositionR2, #dicePositionR3 {
  height: 3rem;
}

#logo {
  height: 5rem;
}

/************** Styles *****************/


body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(2, 46, 68, 0.107);
}

.container {
  background-color: rgba(2, 46, 68, 0.616);
  height: 100vh;
  padding: 1rem;
  max-width: 20rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}


/* ============== MENU CONFIG ================= */

.menu{
  display: flex;
  justify-content: right;
  font-size: 1.5rem;
}

.icon-menu {
  cursor: pointer;
  color: white;
}

.config {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  padding: 2rem;
  position: absolute;
  z-index: 2;
  border-radius: 0.5rem;
  height: 31rem;
  width: 18rem;
  
  display: grid;
  gap: 1rem;

  top: -25rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.show {
  top: 8rem;
  transition: 0.2s;
  visibility: visible;
  opacity: 1;
}

input {
  text-align: center;
  height: 2rem;
  margin-bottom: .5rem;
}

.numberOfDices {
  text-align: center;
}

.speedLeft, .speedRight {
  margin-top: 0.5rem;
}

.numberOfDices div {
  margin-bottom: 0.5rem;
}

.numberOfDices button {
  width: 2rem;
  opacity: 0.2;
}

.colors button {
  width: 1rem;
  height: 1rem;
  margin: 0.3rem;
  opacity: 0.3;
}

.speedLeft div, .speedRight div  {
  margin-bottom: 0.5rem;
}

.speedLeft button, .speedRight button {
  width: 2rem;
  opacity: 0.3;
}

#dividerMenu {
  width: 14rem;
  height: .7px;
  background-color: black;
}

#color1L, #color1R {
  background-color: red;
}

#color2L, #color2R {
  background-color: white;
}

#color3L, #color3R {
  background-color: blue;
}

#color4L, #color4R {
  background-color: green;
}

#closeConfig {
  margin-top: 1rem;
  width: 7rem;
  height: 2rem;
  color: black;
}

/* ================= */


#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 0 20px;
}

#logo #diceLogo {
  height: 5rem;
}

#logo #dice {
  text-align: center;
  margin-right: 0.3rem;
}

.players {
  margin-top: .5rem;
  display: flex;
  justify-content: space-between;
  color: white;
}


.tables {
  max-width: 28rem;
  padding: 0.7rem 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.tables h2  {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

#divider {
  width: 0.2rem;
  height: hv;
  background-color: black;
}

.lD, .rD {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 1rem;
  opacity: 0.3;
}

#buttons {
  display: flex;
  justify-content: space-between;
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
}

#leftButton {
  padding: 1rem 2rem;
  transition: 0.3s;
}

#rightButton {
  padding: 1rem 2rem;
  transition: 0.3s;
}

#resetButton {

  padding: 1rem 2rem;
  transition: 0.3s;

  position: relative;
  z-index: 1;
  top: 4rem;
  left: -3rem;
}

button {
  cursor: pointer;
  border-radius: 2rem;
}

h3 {
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

h4 {
  font-size: 2rem;
  color: white;
}

.score {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.winner {
  color: yellow;
  font-size: 2rem;
  position: relative;
  left: 7.8rem;
  top: -2.3rem;
  transition: 1s;
  opacity: 0;
}

.plus1Show {
  transition: 1s;
  opacity: 1;
}

.winner1 {
  position: relative;
  left: 1rem;
  top: -2.3rem;
  transition: 1s;
}

.winner2 {
  position: relative;
  left: 14rem;
  top: -2.3rem;
  transition: 1s;
}


/*========= MEDIA QUERIES =========*/

/* extra large devices: 1200 > */

@media (min-width: 600px) {

  .container {
    max-width: 30rem;
    padding: 2rem 4rem;
  }

  #buttons {
  width: 20rem;
  }

  .config {
    width: 23rem;
  }

  #dividerMenu {
    width: 18rem;
  }

  .winner {
    left: 10rem;
    top: -2.1rem;
  }

  .winner1 {
    position: relative;
    left: 2rem;
    top: -2rem;
  }

  .winner2 {
    position: relative;
    left: 18rem;
    top: -2rem;
  }

}