/***** RESET ********************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/************** Images *****************/

#dice1, #dice2, #dice3, #dice4, #dice5, #dice6 {
  height: 3rem;
}

#logo {
  height: 5rem;
}

/************** Styles *****************/


body {
  background-color: rgba(2, 46, 68, 0.616);
  height: 100vh;
  width: 100vw;
}

.container {
  margin-top: 1.5rem;
  padding: 0.2rem;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 0 20px;
}

#diceLogo {
  height: 5rem;
}

#dice {
  text-align: center;
  margin-right: 0.3rem;
}

#config {
  padding: 2rem;
  width: auto;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  align-items: center;
  text-align: center;
}

.numberOfDices {
  text-align: center;
  width: 6rem;
}

.numberOfDices button {
  width: 2rem;
  opacity: 0.2;
}

.container .colorSelections {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.container .colorSelections .colors button {
  width: 1rem;
  height: 1rem;
  margin: 0.3rem;
  opacity: 0.3;
}

#color1L, #color1R {
  background-color: red;
}

#color2L, #color2R {
  background-color: yellow;
}

#color3L, #color3R {
  background-color: blue;
}

#color4L, #color4R {
  background-color: green;
}

#players {
  display: flex;
  justify-content: center;
}

#players div {
  font-weight: 700;
  font-size: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.tables {
  max-width: 25rem;
  padding: 0.7rem 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.tables h2  {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

.tableLeft div {
  border: 1px solid rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.tableRight div {
  border: 1px solid rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

#divider {
  width: 0.2rem;
  height: hv;
  background-color: black;
}

.lD, .rD {
  transition: 0.3s;
  font-size: 2.5rem;
}

.lD {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.rD {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#lD1, #lD2, #lD3, #rD1, #rD2, #rD3 {
  display: none;
}

#leftButton {
  padding: 1rem 2rem;
}

#rightButton {
  padding: 1rem 2rem;
}

button {
  cursor: pointer;
  border-radius: 2rem;
}